.input{
    width: 80%;
    padding: 1.5rem 2.5rem;
    background-color: $color-gris;
    border: none;
    outline: none;
    font-family: $font-secondaire;
    font-size: 1.4rem;
    margin-top: 1rem;
}