@import "abstracts/variables";
@import "abstracts/mixins";

@import "base/base";
@import "base/typography";

@import "components/buttons";
@import "components/card";
@import "components/revue";
@import "components/table";

@import "layout/footer";
@import "layout/form";
@import "layout/header";
@import "layout/navigation";

@import "pages/home";

@import"utilitaires.scss";

