@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Playfair+Display:wght@400;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%; /* 1rem = 10px */ 

    @include responsive(desktop, small){
        font-size: 53%;
    }
}

body{
    background-color: $color-gris;
}
