$color-blanche: #FFF;
$color-gris: #E9E9E9;
$color-gris-noir: #4B4B4B;
$color-noir: #636363;
$color-principal: #FF5A5F;


$font-principal: "Playfair Display", sans-serif;
$font-secondaire: "Open Sans", sans-serif;
